* {
	paading: 0px;
	margin: 0px;
}

body {
	background-image: url("https://i.natgeofe.com/k/1ef0d42f-adf7-49e7-a2de-7d381fd18f95/moon-landing-textimage_4x3.png");
	background-size: cover;
	background-repeat: no-repeat;
}

#bub1 {
	width: 800px;
	height: 100px;
	background-color: #5ad0ed;
	border-radius: 50px;
	border: #9cdbff solid 3px;
	margin: 30px;
	display: inline-block;
	transition: 0.3s;
	background-image: linear-gradient(#5ad0ed, #349cd9);
}

#q1 {
	font-family: "ALK Rounded Mtav Med", sans-serif;
	font-size: 24px;
	color: black;
	text-align: center;
	padding-top: 30px;
}

#bub1:hover {
    transform: scale(0.9 ,0.9);
}

#mtavari {
	display: inline-block;
	color: white;
	font-size: 24px;
	font-family: "ALK Rounded Mtav Med", sans-serif;
	text-decoration: none;
	margin-left: 100px;
	transition: 0.2s;
}

#mtavari:hover {
	transform: scale(1.1 ,1.1);
	letter-spacing: 5px;
}

#sworia {
	width: 400px;
	height: 50px;
	background-color: #5ad0ed;
	border-radius: 50px;
	border: #9cdbff solid 3px;
	margin-top: 60px;
	margin-left: 600px;
	background-image: linear-gradient(#5ad0ed, #349cd9);
	transition: 0.2s;
}

#sworia > p {
	font-family: "ALK Rounded Mtav Med", sans-serif;
	font-size: 24px;
	color: black;
	text-align: center;
	padding-top: 10px;
	transition: 0.2s;
}

#sworia:hover {
	transform: scale(1.1 ,1.1);
	background-color: #00d43c;
	color: white;
	background-image: linear-gradient(#00d43c, #01730b);
}

.bub {
	width: 400px;
	height: 50px;
	background-color: #5ad0ed;
	border-radius: 50px;
	border: #9cdbff solid 3px;
	margin-top: 60px;
	margin-left: 600px;
	background-image: linear-gradient(#5ad0ed, #349cd9);
	transition: 0.2s;

}

.bub > p {
	font-family: "ALK Rounded Mtav Med", sans-serif;
	font-size: 24px;
	color: black;
	text-align: center;
	padding-top: 10px;
	transition: 0.2s;
}

.bub:hover {
	background-color: #db0000;
	color: white;
	background-image: linear-gradient(#db0000, #940101);
	transform: scale(1.1 ,1.1);
}

#top {
	background-color: yellow;
	width: 200px;
	height: 100px;
	border-radius: 100px 100px 0px 0px;
	margin-left: 50px;
	margin-top: 50px;
	animation-name: zedayba;
	animation-duration: 0.3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#bottom {
   background-color: yellow;
   width: 200px;
   height: 100px;
   border-radius: 0px 0px 100px 100px;
   margin-left: 50px;
   margin-bottom: 50px;
   animation-name: qvedayba;
   animation-duration: 0.3s;
   animation-iteration-count: infinite;
   animation-direction: alternate;
}
#pacman {
	display: inline-block;
	vertical-align: top;
}


#food {
	background-color: white;
	width: 60px;
	height: 60px;
	border-radius: 100px;
	margin-left: 300px;
	margin-top: 110px;
	display: inline-block;
	vertical-align: top;
	animation-name: food;
	animation-iteration-count: infinite;
	animation-duration: 0.8s;
	animation-timing-function: linear;
	position: relative;
}


@keyframes zedayba {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(-35deg);}
}

@keyframes qvedayba {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(35deg);}
}

@keyframes food {
    0% {right: 0px;}
    100% {right: 300px;}
}