* {
	margin: 0px;
	padding: 0px;
}

body {
	background-image: url("https://wallpapercat.com/w/full/b/9/e/914116-2048x1462-desktop-hd-library-wallpaper-photo.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}


#loader > .dot {
	width: 30px;
	height: 30px;
	display: inline-block;
	margin-right: 20px;
	background-color: blanchedalmond;
	border-radius: 40px;
	animation-name: loader;
	animation-duration: 1.8s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

#loader {
	margin-top: 50px;
	margin-left: 520px;

}

#second {
	animation-delay: 0.3s;
}

#third {
	animation-delay: 0.6s;
}


#start {
	font-family: "Fredericka the Great", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    color: blanchedalmond;
    width: 400px;
    height: 16px;
    letter-spacing: 20px;
    display: inline-block;
    margin-top: 140px;
    margin-left: 500px;
    text-decoration: none;
    transition: 0.2s;
  
}

#start:hover {
	font-size: 54px;
	color:#a7e01f;
	letter-spacing: 40px;
}


@keyframes loader {
	0% {
		transform: translate(0, 0);
	}

	20% {
		transform: translate(0, -30px);
	}
	
	40% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(0, 0);
	}
}

